{
 "parser": "@typescript-eslint/parser",
 "plugins": ["@typescript-eslint"],
 "extends": [
  "eslint:recommended",
  "plugin:@typescript-eslint/recommended",
  "plugin:@typescript-eslint/recommended-requiring-type-checking"
 ],
 "rules": {
  "@typescript-eslint/no-unused-vars": [
   "error",
   { "vars": "all", "args": "after-used", "ignoreRestSiblings": false, "varsIgnorePattern": "^_" }
  ]
 },
 "parserOptions": {
  "project": ["tsconfig.json"]
 }
}
