{
 "parser": "@typescript-eslint/parser",
 "plugins": ["@typescript-eslint"],
 "extends": [
  "eslint:recommended",
  "plugin:@typescript-eslint/recommended",
  "plugin:@typescript-eslint/recommended-requiring-type-checking",
  "plugin:react/recommended"
 ],
 "rules": {
  "@typescript-eslint/explicit-module-boundary-types": ["off"],
  "@typescript-eslint/no-extra-semi": ["off"],
  "@typescript-eslint/no-unused-vars": [
   "error",
   { "vars": "all", "args": "after-used", "ignoreRestSiblings": false, "varsIgnorePattern": "^_" }
  ]
 },
 "overrides": [
  {
   "files": ["*.ts", "*.tsx"],
   "parserOptions": {
    "project": ["tsconfig.json"]
   }
  }
 ]
}
